<div class="p-3 mb-4 text-center">
  <div class="row">

    <div class="col">
      <h5>Contact</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
          Sandrine PEUGNY
        </a></li>
        <li class="nav-item mb-2"><a href="mailto:contact@hivtoolsresistance.com" >
           contact@hivtoolsresistance.com
        </a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h5>Links</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Feeback</a></li>
        <li class="nav-item mb-2"><a href="https://github.com/hivtoolsresistance" class="nav-link p-0 text-muted" target="_blank">Github project <img src="/assets/png/github.png" alt="github"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Article (soon) <img src="/assets/png/pdf.png" alt="pdf"></a></li>
      </ul>
    </div>
  </div>

  <footer class="col border-top">
      <span class="text-muted">© 2022 - HIV Tools Resistance</span>
  </footer>
</div>
