<h2 mat-dialog-title>Legal notice</h2>
<mat-dialog-content class="mat-typography">
  <p>

    The information provided by the website <a href="http://www.hivtoolsresistance.com/" target="_blank">http://www.hivtoolsresistance.com/</a>
    is intended solely for the use of physicians caring for patients living with HIV.
    </p>
  <p>
    All information on the site is provided in good faith, but we make no warranties of any kind regarding the accuracy, reliability, availability or completeness of any information on the website.
    Under no circumstance shall we have any liability to you for any damages of any kind incurred as a result of the use of the website.
  </p>
  <p>
    No data about patients is recorded, this site only collects data on connection statistics.
  </p>
  <p>
    The website data were implemented using the latest update of the rule tables published by the ANRS AC11 Resistance Group, available on the websites:
    <br>
    <a target="_blank" href='https://hivfrenchresistance.org/'>https://hivfrenchresistance.org/</a> (version 33 - October 2022).
  </p>

  <p>
  This site is not intended as a substitute for multidisciplinary consultation involving clinicians, virologists and pharmacologists.

  The data from this website is not a substitute for the physician's responsibility to decide and prescribe.
</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>I agree</button>
</mat-dialog-actions>
