
mat-expansion-panel{
  margin: 4px;
}

mat-panel-title{
   color: white;
 }


.mat-expansion-panel-header-description {
  flex-grow: 0!important;
}


.associateMutationsList{
  margin: 0 40px;
}
